
; register the @inductiveautomation scope so that IA node packages resolve from our
; package repo and it doesn't attempt to resolve them against the npm's central repo
@inductiveautomation:registry=http://nexus.inductiveautomation.com/repository/node-packages
